<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <form action="/tasks/{{task.id}}/edit" method="POST">
        Description: <input type="text" value="{{task.description}}" name="description">
        <br>
        Start time: <input type="time" value="{{task.start_time}}" name="start_time">
        <br>
        End time: <input type="time" value="{{task.end_time}}" name="end_time">
        <br>
        Date: <input type="date" value="{{task.date}}" name="date">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>