<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Teams</title>
</head>
<style>
    table{
        border-collapse: collapse;
        border: 1px solid grey;
    }
    th{
        background-color: dimgray;
        color: white;
        padding: 20px 50px;
    }
    td{
        background-color: azure;
        color: dimgray;
        padding: 20px 50px;
    }
    tr{
        border-bottom: ;
    }
</style>
<body>
    <table>
        <thead>
            <th>ID</th>
            <th>Description</th>
            <th>Procedure Info</th>
            <th>Due Date</th>
            <th>Start at</th>
            <th>End at</th>
            <th>Action</th>
        </thead>
        <tbody>
            {{#each teams}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.procedure_info}}</td>
                    <td>{{this.due_date}}</td>
                    <td>{{this.start_at}}</td>
                    <td>{{this.end_at}}</td>
                    <td>
                        <a href="/teams/{{this.id}}/edit">Edit</a>
                        <a href="/teams/{{this.id}}/delete">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <a href="/teams/add">Add a Team</a>
</body>
</html>