<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Doctors</title>
</head>
<style>
    table{
        border-collapse: collapse;
        border: 1px solid grey;
    }
    th{
        background-color: dimgray;
        color: white;
        padding: 20px 50px;
    }
    td{
        background-color: azure;
        color: dimgray;
        padding: 20px 50px;
    }
    tr{
        border-bottom: ;
    }
</style>
<body>
    <table>
        <thead>
            <th>ID</th>
            <th>Speciality</th>
            <th>Starts Work</th>
            <th>Action</th>
        </thead>
        <tbody>
            {{#each docs}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.speciality}}</td>
                    <td>{{this.start_work}}</td>
                    <td>
                        <a href="/doctors/{{this.id}}/edit">Edit</a>
                        <a href="/doctors/{{this.id}}/delete">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <a href="/doctors/new">Add a Doctor</a>
</body>
</html>